<template>
    <div class = "body expand-md">
        
     <Sidebar/>
     <Navbar/>
    
   <div class = "main expand-md">
      </div>

<div>
<b-card class ="home expand-md"> 
     <h3 >|Inventory</h3>   
  </b-card>
</div>
         
       <b-container class = "container">
          
             <h2>Edit Products</h2>
            
             <hr/>
        
         <form id="validateForm" @submit.prevent="updateProduct" enctype="multiport/form-data" novalidate> 
           
 <b-row>   
    <b-col>
      <b-input type="text" id="prodName" v-model="products.product_name" placeholder="Product Name" style="width:200px;margin-left:20px;"></b-input>
      </b-col>
       <b-col>
     <b-input id="quan" v-model="products.quantity" placeholder="Quantity" style="width:120px;margin-left:20px;"></b-input>
       </b-col>
    <b-col>
      <b-input id="price" v-model="products.price" placeholder="Price" style="width:200px;margin-left:20px;"></b-input>
    </b-col>
  </b-row>

   <b-row>
      <b-col>
        <b-input id="brand" v-model="products.Brand" placeholder="Brand" style="width:200px;margin:20px;"></b-input>
         </b-col>
    <b-col>
  <b-input id="log" v-model="products.logistic_company" placeholder="Logistic Partner" style="width:250px;margin:20px;"></b-input>
    </b-col>
       <b-col>
        <b-input id="personel" v-model="products.personel" placeholder="Personel in-charge" style="width:250px;margin:20px;"></b-input>
    </b-col>  
  </b-row>         
    
           <b-row>
              <b-col>
             <b-button @click="updateProduct" variant="success" style ="width:150px; margin-left:20px;">Submit</b-button>      
           </b-col>  
         </b-row>
       </form>
     </b-container>
  </div>
</template>

<script>


import Navbar from '../../components/navigations/Navbar.vue'
import Sidebar from '../../components/navigations/Sidebar.vue'

export default {
 name: 'editProduct',
      components:{
        Navbar,
        Sidebar,
        
      }

}
</script>

<style scoped>

#toast-container > .toast-custom{
   content:"\f00C";
}
.toast-custom{
background-color: purple;
}


.container{
  position: absolute;
  display: grid;
  grid-template-rows: auto auto auto;
width: 1080px;
height: 270px;
left: 170px;
top: 140px;

box-sizing: border-box;
   background: rgba(76, 175, 80, 0.3);
background: #ffffff;
border:black;
}



.hm{
    font-family: 'Segoe UI';
    font-size: 30px ;
}

.home{
  display: flex;
  justify-content: center;
    position: absolute;
width: 1080px;
height: 55px;
left: 170px;
top: 70px;

box-sizing: border-box;

background: #ffffff;
}

.tb{
  padding-left:30px;
  padding-right:50px;
  display:grid;
  grid-template-columns: auto auto auto;
grid-column-gap:30px;
grid-row-gap:30px;
 
}



</style>