<template>
  <div id="inventory">
   <Navbar/>
   <Sidebar/>
   <Inventbod/>
  </div>
</template>

<script>
import Navbar from '../../components/navigations/Navbar.vue'
import Sidebar from '../../components/navigations/Sidebar.vue'
import Inventbod from './Inventorybod/Inventbod.vue'
export default {
  name: 'Inventory',
  components:{
      Navbar,
      Sidebar,
    Inventbod
  }
  
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>





</style>
