<template>
    <div class = "body expand-md">
     <Sidebar/>
     <Navbar/>
     <Soldlist/>


<div>
     <b-card class ="home expand-md">
     <h3 >|Sell</h3>  
     </b-card>
   </div>  

<b-container class = "container">   
             <h2>Sold Product</h2>
             <p  style="font-style: italic;">Note: Only Quantity can be changed</p>
             <hr/>     
       <form enctype="multiport/form-data" novalidate>

   <b-row>   
    <b-col>
      <label style="margin-left:20px;">Product Name</label>
      <b-input type="text" id="prodName" v-model="products.product_name" placeholder="Product Name" style="width:200px;margin-left:20px;" disabled></b-input>
       </b-col>
    <b-col>
      <label style="margin-left:20px;">Quantity</label>
 <b-input id="quan" v-model="products.quantity" placeholder="Quantity" style="width:120px;margin-left:20px;"></b-input>
    </b-col>
      <b-col>
        <label style="margin-left:20px;">Price</label>
        <b-input id="price" v-model="products.price" placeholder="Price" style="width:200px;margin-left:20px;" disabled></b-input>
          </b-col>
            </b-row>

              <b-row>
           <b-col>
             <label style="margin-left:20px;">Brand</label>
         <b-input id="brand" v-model="products.Brand" placeholder="Brand" style="width:200px;margin-left:20px;" disabled></b-input>
      </b-col>
               </b-row>         
    
     <b-row>
        <b-col>
        <b-button @click="saveProd"  variant="success" style ="width:150px; margin:20px;">Submit</b-button> 
        </b-col> 
        
       

     </b-row>
       </form>         
     </b-container>

  
  </div>
</template>

<script>

import Navbar from '../../components/navigations/Navbar.vue'
import Sidebar from '../../components/navigations/Sidebar.vue'
import Soldlist from './soldBod/Soldlist.vue'



export default {
 name: 'sellProduct',
      components:{
        Navbar,
        Sidebar,
        Soldlist

      },
      created(){
   this.loadData();
},
        data() {
          return {
            url: document.head.querySelector('meta[name="url"]').content,
            products : {},
            product_name: '',
            quantity: '',
            price: '',
            Brand: '',
            errors:[]
          }
},
methods: {
              loadData(){
                  let url = this.url + `/api/updateProduct/${this.$route.params.id}`;
                 this.axios.get(url).then((response) => {
                this.products = response.data;
                console.log(this.products);
                 });
              },


              saveProd() {
            this.errors = [];
            if(!this.products.product_name) {
                this.$toastr.success('Product Name is Required');
            }
            if(!this.products.quantity) {
              this.$toastr.success('Quantity is required');
            }
            if(!this.products.price) {
              this.$toastr.error('Price is required');
            }
            if(!this.products.Brand) {
               this.$toastr.warning('Brand is required');
            }
             

            if(!this.errors.length){
              let formData = new FormData();
              formData.append('product_name', this.products.product_name);
              formData.append('quantity', this.products.quantity);
              formData.append('price', this.products.price);
              formData.append('Brand', this.products.Brand);
              let url = this.url + '/api/soldProduct';
              this.axios.post(url, formData).then((response) => {

                 if(response.status) {    
                   this.$swal.fire('Saved!','Product Added','success');   
                 this.$router.push({
                     name: '/'
                   });
                 }else{
                    this.$swal('Error');
                 }
              }).catch(error => {
                    this.errors.push(error.response.data.error);
              });
            }
          },
         
},
}
</script>

<style scoped>
.container{
  position: absolute;
  display: grid;
  grid-template-rows: auto auto auto auto;
width: 1080px;
height: 270px;
left: 170px;
top: 140px;

box-sizing: border-box;
   background: rgba(76, 175, 80, 0.3);
background: #ffffff;
border:black;
}

.home{
     display: flex;
  justify-content: center;
    position: absolute;
width: 1080px;
height: 55px;
left: 170px;
top: 60px;
box-sizing: border-box;

background: #ffffff;
}


</style>