<template>
  <div id="transactions">
    <Navbar/>
   <Sidebar/>
   <Transbod/>
  </div>
</template>

<script>
import Navbar from '../../components/navigations/Navbar.vue'
import Sidebar from '../../components/navigations/Sidebar.vue'
import Transbod from './Transactionbod/Transbod.vue'

export default {
  name: 'Transactions',
  components:{
      Navbar,
      Sidebar,
      Transbod
  }
  
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>



#Home{
   
   color:rgb(0, 0, 0);
}

</style>
