<template>
    <div>
     <b-navbar fixed="top"  type="dark" variant="light">
    <b-navbar-nav>
    </b-navbar-nav>
  </b-navbar>  
    </div>
</template>
 
<script>
export default {
  name: 'Navbar'
  
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
body{
margin:0;
}

.nav{
    position:fixed;
    z-index: 1;
     overflow-y:auto;
    padding:0;
    margin:0;
    width: 100%;
    height:50px;
    left: 0px;
    right: 0px;
    background-color: rgb(221, 221, 221);
}
</style>



