<template>
  <b-nav id="sidebar">
      <ul class="list-unstyled">
         
         <li>
           
              <a  href="#"><img src="../../assets/img/logo.png"   alt="Home" style="width:140px;"></a>
              <hr/>
         
          </li>

          <li>
            <router-link to ="/Inventory">
              <a href="inventory.vue"><img src="../../assets/img/prod.png" id="tprod"   alt="Inventory" style="width:35px;margin-right:7px;">Inventory</a>
               </router-link>
          </li>
          <li>
           <router-link to ="/Transactions">
              <a href="transactions.vue"><img src="../../assets/img/Trans.png" id="ttrans"  alt="Transactions" style="width:35px;margin-right:7px;">Transactions</a>
             </router-link>
          </li>
        
         
      </ul>

      <b-tooltip target="thome" title="Home"  variant="light"></b-tooltip>
       <b-tooltip target="tprod" title="Inventory" variant="light"></b-tooltip>
        <b-tooltip target="ttrans" title="Transactions" variant="light"></b-tooltip>
         
  </b-nav>

</template>

<script>
export default {
  name: 'Sidebar'

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#sidebar {
    display:flex;
    justify-content:flex-start;
    align-content: space-between;
    position: fixed;
    z-index: 999;
    width: 158px;
    height:100%;
    
    top:0px;
    left: 0px;
    overflow-y:auto;
    background:hsl(256, 85%, 5%);

}


#sidebar ul li a {
    padding: 15px 8px;
    font-size: 12px;
    display: block;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
   
}
#sidebar ul li a:hover {
    color: #e8edf0;
    background: #36324D;
}
#sidebar ul ul a {
    font-size: 16px !important;
    padding-left: 30px !important;
    background: #263238;
}


</style>
