<template>
  
<b-card class ="sold expand-md">
<h4>Sold Product <hr/></h4>


<table class="table table-bordered expand-md">
  <thead>
    <tr>
      <th scope="col">Product_ID</th>
      <th scope="col">Product_Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Brand</th>
     
    </tr>
  </thead>
  <tbody v-for="product in products" :key="product.id">
    <tr>
      <th scope="row">{{product.id}}</th>
      <td>{{product.product_name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.Brand}}</td>

    </tr>
    
    
  </tbody>
</table>
</b-card>

</template>

<script>
export default {
    name: 'Soldlist',
    created(){
   this.soldData();
},
 data() {
          return {
            url: document.head.querySelector('meta[name="url"]').content,
            products : {},
            product_name: '',
            quantity: '',
            price: '',
            Brand: '',
            errors:[]
          }
},
methods: {
      soldData(){
          let url = this.url + '/api/getSold';
          this.axios.get(url).then(response => {
            this.products = response.data;
            console.log(this.products);
          });
        },
          

},

   mounted: function(){
     console.log('Sold Products Loaded');
   }
}


</script>

<style scoped>

.sold{ 
position: absolute;
width: 1080px;
height: 55px;
left: 170px;
top: 450px;
box-sizing: border-box;
background: #ffffff;
}
</style>