<template>
   <b-nav id="sidebar">
      <ul class="list-unstyled">
         
         <li>
             <a><img :src="require('../../img/logo.png').default" alt="Home" style="width:140px;"></a> 
              
              <hr/>
         
          </li>

          <li>
            <router-link  to ="/"> 
           <img :src="require('../../img/prod.png').default" id="tprod"   alt="Inventory" style="width:35px;margin-right:7px;" >Inventory
               </router-link>
          </li>
          <li>
           <router-link to ="/transaction">
              <img :src="require('../../img/Trans.png').default" id="ttrans"  alt="Transactions" style="width:35px;margin-right:7px;">Transactions
             </router-link>
          </li>
        
         
      </ul>

      <b-tooltip target="thome" title="Home"  variant="light"></b-tooltip>
       <b-tooltip target="tprod" title="Inventory" variant="light"></b-tooltip>
        <b-tooltip target="ttrans" title="Transactions" variant="light"></b-tooltip>
         
  </b-nav>

 
</template>

<script>
export default {
  name: 'Sidebar'

}
</script>

<style>
#sidebar {
    display:flex;
    justify-content:flex-start;
    align-content: space-between;
    position: fixed;
    z-index: 999;
    width: 158px;
    height:100%;
    
    top:0px;
    left: 0px;
    overflow-y:auto;
    background:hsl(256, 85%, 5%);

}


#sidebar ul li a {
    padding: 15px 8px;
    font-size: 12px;
    display: block;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
   
}
#sidebar ul li a:hover {
    color: #e8edf0;
    background: #36324D;
}
#sidebar ul ul a {
    font-size: 16px !important;
    padding-left: 30px !important;
    background: #263238;
}



</style>