 <template>
<div class="">

  <div class = "main expand-md">
     
 <b-card class ="home expand-md">
<h4>Products Available <hr/></h4>


<table class="table table-bordered expand-md">
  <thead>
    <tr>
      <th scope="col">Product_ID</th>
      <th scope="col">Product_Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Brand</th>
      <th scope="col">Date_Delivered</th>
      <th scope="col">Action</th> 
    </tr>
  </thead>
  <tbody v-for="product in products" :key="product.id">
    <tr>
      <th scope="row">{{product.id}}</th>
      <td>{{product.product_name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.Brand}}</td>
      <td>{{product.created_at}}</td>
     
      <td>
        <router-link :to="{name:'/sellprod', params: {id:product.id}}" class="btn btn-success btn-sm">
             Sell</router-link>  

             <router-link :to="{name:'/updateProduct', params: {id:product.id}}" class="btn btn-success btn-sm">
             Edit</router-link>  

               <button   type="button" class="btn btn-danger btn-sm"  @click.prevent="deleteProduct(product.id)">Delete</button>
         </td>
    </tr>
    
    
  </tbody>
</table>
</b-card>
 </div>
   </div>
  
</template>

<script>
export default {
    name: 'Products',
    created() {
      this.loadData();
    },
    methods:{
        loadData(){
          let url = this.url + '/api/getProduct';
          this.axios.get(url).then(response => {
            this.products = response.data;
            console.log(this.products);
          });
        },
        deleteProduct(id) {
           let url = this.url + `/api/deleteProduct/${id}`;
           this.axios.delete(url).then(response => {
             if(response.status){
                  this.loadData();
                 this.$swal.fire('Deleted!','Product Deleted','success');
             }
             else{
               this.$swal.fire('Error');
             }

           });
        }
    },
    mounted() {
      console.log('Product List Mounted');
    },
    data() {
      return {
        url: document.head.querySelector('meta[name="url"]').content,
        products:[]
      }
    }
}
</script>

<style scoped>

.home{
   
    position: absolute;
width: 1080px;
height: 55px;
left: 170px;
top: 400px;

box-sizing: border-box;

background: #ffffff;
}




</style>