<template>
    <div class = "body expand-md">
   <div class = "main expand-md">
      </div>
         <div>
<b-card class ="home expand-md">
 
     <h3 >|Transactions</h3>
      
  </b-card>
</div>
       <div class = "container expand-md">

        
<h4>Transactions <hr/></h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Transaction_No</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col">Quantity</th>
      <th scope="col">Product_ID</th>
      <th scope="col">action</th>
      
      
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Delivery</td>
      <td>5/5/1</td>
      <td>354</td>
      <td>111</td>
      <td>
      <button   type="button" class="btn btn-danger btn-sm">Delete</button>
         
      </td>
     
     
    <tr/>
  </tbody>
</table>


     </div>
  </div>
</template>

<script>
export default {
  name: 'Transbod'

}
</script>

<style scoped>


.container{
  position: absolute;
width: 1080px;
height: 445px;
left: 170px;
top: 160px;

box-sizing: border-box;
  opacity:1;
background: #ffffff;
}

.hm{
    font-family: 'Segoe UI';
    font-size: 30px ;
}

.home{
    display: flex;
  justify-content: center;
    position: absolute;
width: 1080px;
height: 55px;
left: 170px;
top: 90px;

box-sizing: border-box;

background: #ffffff;
}

</style>