<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  name: 'App',
  
}
</script>

<style>
body{
  background-image:url("./assets/img/inv.png");
  
}

</style>



