<template>
    <div class = "body expand-md">
   <div class = "main expand-md">
      </div>

<div>
<b-card class ="home expand-md">
 
     <h3 >|Inventory</h3>
      
  </b-card>
</div>
         
       <b-container class = "container">
          
             <h2>Add New Products Delivered</h2>
             <hr/>
        
            <b-row>
    <b-col>
      <b-input placeholder="Product Name" style="width:200px;margin-left:20px;"></b-input>
      </b-col>

    <b-col>
      <b-input placeholder="Quantity" style="width:120px;margin-left:20px;"></b-input>
    </b-col>

    <b-col>
      <b-input placeholder="Price" style="width:200px;margin-left:20px;"></b-input>
    </b-col>

    <b-col>
     <b-input placeholder="Date Delivered" style="width:180px;margin-left:20px;"></b-input>
    </b-col>

  </b-row>

              <b-row>
    <b-col>
     <b-input placeholder="Brand" style="width:200px;margin:20px;"></b-input>
      </b-col>

    <b-col>
        <b-input placeholder="Logistic Partner" style="width:250px;margin:20px;"></b-input>
    </b-col>

<b-col>
        <b-input placeholder="Personel in-charge" style="width:250px;margin:20px;"></b-input>
    </b-col>  

    <b-col>
        <b-input placeholder="Product ID" style="width:100px;margin:20px;"></b-input>
    </b-col>   

  </b-row>         
     <b-row>
           <b-col>
        <b-button variant="success" style ="width:150px; margin:20px;">Submit</b-button>

    </b-col>
    
     </b-row>
      
             
     </b-container>

<!---Table--->
   <b-container id="cont">
<h4>Products Available <hr/></h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Product_ID</th>
      <th scope="col">Product_Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Brand</th>
      <th scope="col">Date_Delivered</th>
      <th scope="col">Action</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
     
      <td>
        <router-link to= "/sellProduct" class="btn btn-success btn-sm">
             Sell</router-link>  

             <router-link to="/updateProduct" class="btn btn-success btn-sm">
             Edit</router-link>  

               <button   type="button" class="btn btn-danger btn-sm">Delete</button>
        
                   </td>
    </tr>
    
    
  </tbody>
</table>


   </b-container>
<!---Table--->
  </div>
</template>

<script>
export default {
  name: 'Inventbod'

}
</script>



<style scoped>



.container{
  position: absolute;
  display: grid;
  grid-template-rows: auto auto auto auto;
width: 1080px;
height: 270px;
left: 170px;
top: 140px;

box-sizing: border-box;
   background: rgba(76, 175, 80, 0.3);
background: #ffffff;
border:black;
}

#cont{
  top:430px;
}

.hm{
    font-family: 'Segoe UI';
    font-size: 30px ;
}

.home{
  display: flex;
  justify-content: center;
    position: absolute;
width: 1080px;
height: 55px;
left: 170px;
top: 70px;

box-sizing: border-box;

background: #ffffff;
}

.tb{
  padding-left:30px;
  padding-right:50px;
  display:grid;
  grid-template-columns: auto auto auto auto;
grid-column-gap:30px;
grid-row-gap:30px;
 
}



</style>